# Configuración de base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bd_core_financiero
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD

# Configuración de JWT
SECRET_KEY=CAMBIAR_EN_PRODUCCION
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
